<div class="contact__item d-md-none">
  <div class="contact__zalo">
    <a href="tel:0365944715">
      <img
        src="./assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item d-none d-md-block">
  <div class="contact__zalo">
    <a href="https://zaloapp.com/qr/p/8t31tqft7gsg">
      <img
        src="./assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item">
  <div class="contact__phone">
    <a href="tel:0365944715">
      <img src="./assets/image/icon/phone.svg" alt="" class="contact__icon" />
    </a>
  </div>
</div>
