<div class="container">
  <div class="footer__inner">
    <div class="row gy-lg-3">
      <div class="col-4 col-lg-12">
        <div class="footer__logo">
          <div class="footer__logo-inner">
            <div class="footer__logo-icon-wrap">
              <img
                src="./assets/image/icon/logo.png"
                alt="logo icon"
                class="footer__logo-icon"
              />
            </div>
            <h2 class="footer__logo-name">DATXETRUCTUYEN</h2>
          </div>
        </div>
        <p class="footer__desc">
          Di chuyển siêu nhanh siêu tiện lợi và an toàn
        </p>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">
            Công Ty Vận Tải Nhanh Phú Lê
          </li>
          <li class="footer__item">
            <a href="https://maps.app.goo.gl/58ijuJbE1iGoSJfR8"
              >Địa chỉ:371 Bình thành,Bình hưng hòa,Bình Tân,HCMC,VN</a
            >
          </li>
          <li class="footer__item">
            <a href="mailto:nguyenthicam041998@gmail.com"
              >Email:nguyenthicam041998@gmail.com</a
            >
          </li>
          <li class="footer__item">
            <a href="tel:0365944715">Phone:0365 944 715</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-lg-12">
        <ul class="footer__list">
          <li class="footer__item text--bold text--lagre">LIÊN KẾT NHANH</li>
          <li class="footer__item"><a href="#!">Bài viết nổi bật</a></li>
          <li class="footer__item"><a href="#!">Chính sách bảo mật</a></li>
          <li class="footer__item"><a href="#!">Về chúng tôi</a></li>
        </ul>
      </div>
    </div>
    <div class="coppyright">
      <p>© 2010 - 2025 datxetructuyen . All rights reserved.</p>
    </div>
  </div>
</div>
