<div class="container">
  <div class="footer__row">
    <div class="footer__col">
      <h3 class="footer__heading">Bài Viết</h3>
      <ul class="footer__list">
        <li>
          <a
            target="_blank"
            href="https://datxetructuyen.click"
            class="footer__link"
            >Đặt xe ngay</a
          >
        </li>
        <li>
          <a
            target="_blank"
            href="https://datxetructuyen.click/grabtaxi"
            class="footer__link"
            >Đặt taxi online</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">Trợ Giúp</h3>
      <ul class="footer__list">
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="https://grab.com.vn"
            class="footer__link"
            >Liên hệ với chúng tôi</a
          >
        </li>
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="https://grab.com.vn"
            class="footer__link"
            >FAQ</a
          >
        </li>
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="https://grab.com.vn"
            class="footer__link"
            >Accessibility</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">Thông Tin Liên Hệ</h3>
      <ul class="footer__list">
        <li>
          <a href="tel:0365944715" class="footer__link"
            >Hotline: 0703 355 198</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link">
            Adress : 371 Bình thành,Bình hưng hòa,Bình Tân,Hồ Chí Minh,Việt Nam
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="http://hotrodatxe24h.online"
            class="footer__link"
            >website:hotrodatxe24h.online</a
          >
        </li>
        <li>
          <a
            rel="nofollow"
            target="_blank"
            href="mailto:phule6001@gmail.com"
            class="footer__link"
            >Email:phule6001@gmail.com</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__logo">
        <a href="/" class="logo d-flex">
          <img
            src="./assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h2 class="logo__title">
            <a target="_blank" href="http://hotrodatxe24h.online"
              >hotrodatxe24h.online</a
            >
          </h2>
        </a>
      </div>
      <form action="" class="footer__form">
        <div class="footer__form-email">
          <input
            type="email"
            class="footer__form-input btn--rounded btn"
            placeholder="Email Adress"
          />
          <button class="footer__form-submit btn--rounded btn btn--primary">
            Send
          </button>
        </div>
        <label for="" class="footer__label"
          >Tiết kiệm 10% khi đặt trước khứ hồi</label
        >
      </form>
      <div class="footer__social">
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.facebook.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/facebook.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.tiktok.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/tiktok.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.linkedin.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/linkedin.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.instagram.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/instagram.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.twitter.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/twitter.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a
          rel="nofollow"
          target="_blank"
          href="https://www.youtube.com"
          class="footer__social-link"
        >
          <img
            src="./assets/image/icon/youtube.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__coppyright">
      © 2010 - 2025 hotrodatxe24h.online . All rights reserved.
    </p>
  </div>
</div>
