<div class="header__wrap">
  <div class="topBar">
    <div class="container">
      <div class="topBar__inner d-flex">
        <a href="tel:0365944715" class="topBar__link d-flex">
          <img
            src="./assets/image/icon/phone.svg"
            alt="icon call"
            class="topBar__icon"
          />
          <p class="topBar__desc">Hotline : 0703 355 198</p>
        </a>
      </div>
    </div>
  </div>
  <div class="header__main">
    <div class="container">
      <div class="header__inner d-flex">
        <a href="/" class="logo header__logo d-flex">
          <img
            src="./assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h1 class="logo__title">DATXETRUCTUYEN</h1>
        </a>
        <nav class="navbar">
          <ul class="navbar__list d-flex">
            <li class="navbar__item">
              <a href="/" class="navbar__link">TRANG CHỦ</a>
            </li>
            <li class="navbar__item navbar__item--gt">
              <a href="/" class="navbar__link">GIỚI THIỆU</a>
            </li>
            <li class="navbar__item">
              <a href="https://datxetructuyen.click/post" class="navbar__link"
                >BÀI VIẾT</a
              >
            </li>
            <li class="navbar__item">
              <a href="tel:0365944715" class="navbar__link">LIÊN HỆ</a>
            </li>
          </ul>
        </nav>
        <button class="menu-mobile">
          <img
            src="./assets/image/icon/menu-bar-1.svg"
            alt="more"
            class="menu-mobile-icon"
          />
        </button>
      </div>
    </div>
  </div>
</div>
