.auth {
  height: 100vh;
  display: flex;
}
.auth__content, .auth__intro {
  flex: 1 0;
  padding: 0 20px;
}
.auth .flex-template, .auth .auth__content-inner, .auth .auth__intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth__intro {
  position: relative;
}
.auth__intro--text {
  margin-top: 49px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  max-width: 412px;
}
.auth__intro-arrow, .auth__intro-logo {
  position: absolute;
  translate: -50%;
  left: 50%;
}
.auth__intro-arrow {
  bottom: 50px;
}
.auth__intro-logo {
  top: 80px;
}
.auth__img {
  max-width: 422px;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .auth__img {
    max-width: 322px;
  }
}
.auth__content {
  background: var(--auth-content-bg);
}
@media (max-width: 767.98px) {
  .auth__content {
    position: fixed;
    inset: 0;
    z-index: 2;
    translate: 100%;
    transition: translate 0.3s;
    overflow-y: auto;
  }
  .auth__content.show {
    translate: 0;
  }
}
.auth__content-inner {
  height: 100%;
  text-align: center;
  width: min(460px, 100%);
  margin: 0 auto;
}
.auth__heading {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 146.667%;
}
.auth__link, .auth__desc {
  color: #0071dc;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.auth__desc {
  margin-top: 10px;
  padding: 0 30px;
  color: var(--auth-desc-color);
}
.auth__form {
  margin-top: 60px;
  width: 100%;
}
.auth__text {
  margin-top: 108px;
  color: #9e9da8;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 144.444%;
}
.auth__text .auth__link, .auth__text .auth__desc {
  margin-left: 10px;
}
.auth__btn.form__group {
  margin-top: 50px;
}

.post__rate {
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}
.post__rate-icon {
  width: 25px;
  margin-right: 5px;
}
@media (max-width: 991.98px) {
  .post__rate-icon {
    margin-right: 0;
  }
}
@media (max-width: 575.98px) {
  .post__rate-icon {
    width: 20px;
  }
}
.post__rate-info {
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .post__rate-info {
    font-size: 1.6rem;
  }
}
.post__heading {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 20px;
  position: relative;
}
@media (max-width: 991.98px) {
  .post__heading {
    margin-top: 30px;
  }
}
.post__heading::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60%;
  bottom: 0;
  border-radius: 99px;
  left: 50%;
  translate: -50% 0;
  background-color: #000;
}
.post__sapo-text {
  text-align: start;
  position: relative;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 1.5;
  padding-left: 15px;
  margin-top: 60px;
}
.post__sapo-text::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: red;
  border-radius: 999px;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.post__media {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  padding-top: 50%;
  border-radius: 30px 0 30px 0;
  background: rgba(19, 214, 100, 0.7529411765);
}
.post__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px 0 30px 0;
}
.post__title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 3rem;
  color: #ed1d26;
  margin-bottom: 30px;
}
.post__list {
  margin-top: 30px;
}
.post__sub-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 1.44;
}
.post__desc {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.44;
  margin-top: 10px;
}
.post__end {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.44;
  margin-top: 40px;
  margin-bottom: 40px;
}
.post__inner {
  margin: 40px 0;
}
.post__icon {
  filter: brightness(0) saturate(100%) invert(29%) sepia(79%) saturate(6963%) hue-rotate(348deg) brightness(93%) contrast(100%);
  margin-right: 10px;
}
.post__link--blue {
  color: royalblue;
}
.post__table-list {
  margin-top: 15px;
}
.post__table-item {
  font-weight: 300;
  line-height: 1.45;
  font-size: 1.5rem;
}
.post__item-list {
  margin-top: 30px;
  margin-bottom: 30px;
}
.post__item-item {
  position: relative;
  font-size: 1.5rem;
  padding-left: 25px;
  font-weight: 200;
  line-height: 1.45;
}
.post__item-item + .post__item-item {
  margin-top: 20px;
}
.post__item-item::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 8px;
  border: 2.5px solid;
  rotate: -45deg;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  border-color: transparent transparent black black;
}

/*# sourceMappingURL=index.css.map */
