@use "../abstracts";
.logo {
  align-items: center;
  gap: 20px;
  @include abstracts.screen(sm) {
    gap: 5px;
  }
  &__icon {
    width: 30px;
    filter: var(--logo-icon-filter);
  }
  &__title {
    font-weight: 700;
    font-size: 2.2rem;
    color: var(--logo-title-color);
  }
}
