@use "../abstracts";
.slider {
  background: #01a243;
  &-wrap {
    overflow: hidden;
  }
  &__list {
    animation: slideimg 30s infinite;
    display: flex;
  }
  &__media {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    padding-top: 50%;
  }
  &__thumb {
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@keyframes slideimg {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
