@use "../abstracts";
.slider {
  background-image: url(https://goixegiare.pro.vn/assets/image/thumb/backgroundform.jpg);
  &-wrap {
    overflow: hidden;
  }
  &__list {
    display: flex;
  }
  &__media {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    padding-top: 50%;
  }
  &__thumb {
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
