.table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #ccc;
  background: #fff;
  tr {
    border: 2px solid #ccc;
    td:first-child,
    th:first-child {
      width: 150px;
      text-align: center;
      border: 2px solid #ccc;
    }
  }
  tr:nth-of-type(odd) td {
    background: #e2e0e0;
  }
  th {
    background: #e2e0e0;
    padding: 10px;
    line-height: 1.4;
    font-weight: 600;
    font-size: 2.5rem;
  }
  td {
    line-height: 1.4;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 10px;
  }
  &__mid {
    width: 50%;
    border-right: 2px solid #ccc;
  }
}
